/monolith/target/
/data/
/load-client/out/
/mockserver/out/
*.sqlite
*.sqlite-shm
*.sqlite-wal
.DS_Store
__pycache__/
/reports/*/client.log
/layered/target/
/layered/data/
/layered/reports/*/client.log
/pipeline/target/
/pipeline/data/
/pipeline/reports/*/client.log
/service-based/target/
/service-based/data/
/service-based/reports/*/client.log
